.navbar{
    margin: 0;
    padding: 10px;
    font-size: large;
    text-align: center;
    border-bottom: 2px solid black;
    background-color: brown; 
    color: aliceblue;
}
.containers{
    padding: 20px;
    text-align: center;
}
.container-title{
    color: brown;
}

.footer{
    margin: 0;
    padding: 10px;
    font-size: large;
    text-align: center;
    border-bottom: 2px solid black;
    background-color: brown; 
    color: aliceblue;
}