.fruit-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
   .head{
   width: 100%;
    height: 55vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2));
   background-size: cover;
    font-family: 'Poppins', sans-serif;

  }
 
  header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
   padding-top: 150px;
    text-align: center;
    font-weight: bold;
  }
  
  header p {
    font-size: 1.2em;
    color: #ffffff;
    text-align: center;
  }
  .explore-more-btn{
   margin-left: 450px;
   background-color: #80c106ad ;
   color: white;
   font-weight: bold;
   border-radius: 5px;
   height: 40px;
  width: 250px;
  }
  .explore-more-btn:hover{
    background-color: brown;
  }
  .subheading{
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
   
  }
  
  .subheading2{
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    color: rgb(72, 69, 72);
    font-size: 30px;
  }
  

.card-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  
  .card {
    max-width: 300px;
    height: 50%;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .card h2 {
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  .card p {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
  }
  
  .card button {
    margin-bottom: -2px;
   
    display: block;
    padding: 10px;
    background-color: #8f2407;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card button:hover {
    background-color: #da461d;
  }
  .subpart{
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .img-size{
    
    height: 300px;
    width: 350px;
    border-radius: 10px;

  }
  .service-card{
     background-color: #0eec1c;
     width: 100%;
     margin-top:40px ;
     margin-bottom:40px ;
     height: 370px;
     color: white;
     padding: 40px;
     text-align: center;
     font-family: cursive;
     display:block;
    flex-wrap: wrap;
     justify-content: space-evenly;
  }
  .service-card h3{
    margin-bottom: 30px;
  }
  .img-service{
    height: 200px;
    width: 300px;
    
  }
  .learn-more-btn{
    margin-top:20px ;
    width: 300px;
    height: 50px;
    background-color: #ffffff89;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  .learn-more-btn:hover{
    background-color: #a1fb94;
    color:#ccc;
    border-radius: 5px;
    transition: 0.5s;
  }
 
  .last-container{
     background-image: linear-gradient(rgba(204, 227, 244, 0.5),rgba(21, 244, 207, 0.2));
     width: 100%;
     height: 500px;
     color: white;
     text-align: center ; 
     padding: 20px;

  }
  .sub-last-container{
    padding: 20px;

    display: flex;
    justify-content: space-evenly;
  }
  .service-img{
    height: 200px;
    width: 200px;
  }
  .last-container h2{
    margin-top: 50px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }